<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Lens" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
    
    <%= yield %>

  <!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
						</ul>
					</footer>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'breakpoints.min' %>
  <%= javascript_include_tag 'browser.min' %>
  <%= javascript_include_tag 'main' %>
  </body>
</html>
